@CHARSET "UTF-8";
* {padding: 0; margin: 0;}
html,body {
	height:100%;
	width: 100%;
}
body{
	background: url('../../image/bg/form_bg.jpg') repeat;
}

.form-top {
	margin-top: 50px;
}
.form-signin {
	padding: 10px 20px 30px 20px;
	border: 2px #E0E0E0 solid;
	border-radius:5px;
	background-color: #FFF;
	-moz-box-shadow:-2px -2px 2px #999 inset;            
	-webkit-box-shadow:-2px -2px 2px #999 inset;         
	box-shadow:-2px -2px 2px #999 inset;  
}
.row {
	padding-top:20px;
	padding-bottom:20px;
}
.input-group+.input-group {
	margin: 10px 0 0 0 ;
}
.checkbox {
	margin-left: 20px;
}
.form-signin-heading {
	text-align: center;	
}